body {
    color: aliceblue;
}

a {
    color: white;
}

.noStyle {
    list-style: none;
}

.contakt {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.h-75 {
    min-height: 75px;
}

.h-150 {
    min-height: 150px;
}

.h-180 {
    min-height: 180px;
}

.h-200 {
    min-height: 200px;
}

.pr-0 {
    padding-right: 0;
}

.bg-grey-lite {
    background-color: #d3d3d3;
    color: gray;
}

.bg-grey {
    background-color: grey;
}

.bg-yellow {
    background-color: yellowgreen;
}

.col-20 {
    min-width: 17%;
}

.h-24 {
    min-height: 150px;
}

.bb-15 {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid gray;
}

.gap-20 {
    gap: 20px;
}

.gap-15 {
    gap: 15px;
}

.square-list {
    list-style-type: square;
}

.work-list {
    padding: 20px;
}

.text-list {
    font-size: 0.9rem;
}

.punkt-counter {
    max-height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

.num1,
.num2,
.num3,
.num4,
.num5,
.num6,
.num7,
.num8,
.num9,
.num10,
.num11,
.num12,
.num13 {
    position: relative;
    overflow: hidden;
}

.num1::before {
    content: '1';
}

.num2::before {
    content: '2';
}

.num3::before {
    content: '3';
}

.num4::before {
    content: '4';
}

.num5::before {
    content: '5';
}

.num6::before {
    content: '6';
}

.num7::before {
    content: '7';
}

.num8::before {
    content: '8';
}

.num9::before {
    content: '9';
}

.num10::before {
    content: '10';
}

.num11::before {
    content: '11';
}

.num12::before {
    content: '12';
}

.num13::before {
    content: '13';
}

.num1::before,
.num2::before,
.num3::before,
.num4::before,
.num5::before,
.num6::before,
.num7::before,
.num8::before,
.num9::before,
.num10::before,
.num11::before,
.num12::before,
.num13::before {
    font-size: 20px;
    color: #fff;
    position: absolute;
    display: block;
    background-color: transparent;
    width: 60px;
    text-align: center;
    left: -5px;
    top: 12px;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.6);
}